.task-element {
  display: flex;
  justify-content: space-between;
  padding: 6px 9px 6px 6px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #fff;
  border-block-end-color: rgba(240, 241, 243, 1);
  cursor: pointer;
}


.tasks-element-container {
  display: flex;
  align-items: center;
  gap: 5px;
}


.task-element-title {
  font-size: 16px;
  font-weight: 400;
}

.task-element-info-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.task-element-info-container-text{
  font-size: 14px;
  width: 120px;
  
}



