.confirmation-dialog {
  max-width: 400px;
  overflow: hidden;
}

.confirmation-dialog-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px;
}
.confirmation-dialog-text {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.confirmation-dialog-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.confirmation-dialog-first-button,
.confirmation-dialog-second-button {
  font-size: 16px;
  padding: 6px 24px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.confirmation-dialog-first-button:hover,
.confirmation-dialog-second-button:hover {
  scale: 1.1;
}

.confirmation-dialog-first-button:has(+ .confirmation-dialog-second-button:hover),
.confirmation-dialog-first-button:hover + .confirmation-dialog-second-button {
  filter: blur(0.7px);
  scale: 0.9;
}

.confirmation-dialog-first-button {
  background-color: #ff0000ab;
}

.confirmation-dialog-second-button {
  background-color: rgba(0, 0, 0, 0.1);
}
