:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  width: 100vw;
  background-color: rgba(247, 248, 249, 1);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  color: #202020;
  font-weight: 600;
}

li {
  list-style: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 32px;
  letter-spacing: 1.5px;
}

dialog {
  padding: 0;
  margin: auto;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}

main {
  margin-bottom: 200px;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}


.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
.validation-error {
  font-size: 14px;
  color: #f71310;
  padding-left: 4px;
}

.transparent-background {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}